body {
	font-size: 20px;
	color: lightblue;
	background-color: lightcoral;
	font-family: 'Oxygen', sans-serif;
}
/**Header**/
#header-nav {
	background-color: lightblue;
	border-radius: 0;
	border: 0;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
.navbar-brand h1 {
	margin-top: 0;
	margin-bottom: 0;
}

/**end header**/

/**main content**/

#title-for-main-content{
	width: 100%; 
}

#nav-list a {
	text-align: center;
}
.menu-titles {
	text-align: center;
	text-shadow: 0 0 5px black;
}



#chicken {
	border: 2px solid skyblue;
	margin-top: 20px;
	margin-right: 0;
	margin-left: 0;


}
#beef {
	border: 2px solid darkred;
	margin-top: 20px;
	margin-right: 0;
	margin-left: 0;
}

#sushi {
	border: 2px solid greenyellow;
	margin-top: 20px;
	margin-right: 0;
	margin-left: 0;
}
.container {
	margin: 0;
}
#content {
	width: 95vw;
	margin: auto;
}


/*********medium***********/
@media (min-width: 992px) {
	#content {
		padding: 0;
	}
}